node_modules
.pnpm-store
.turbo
.next
out
dist
coverage
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/*.tfvars
!infra/terraform/*.tfvars.example
infra/terraform/crash.log
infra/terraform/.terraform.lock.hcl

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / Playwright
test-results
playwright-report
blob-report
